body{
  background-color:#E5E5E5;
  font-family:'Roboto';
  max-width:1440px;
  margin:auto;
  position: relative;
}
a{
  text-decoration:none;
  color:black;
}

header ul,
footer ul{
  display:flex;
  list-style:none;
  align-items:center;
}

header li,
footer ul{
  font-weight:700;
  text-transform: uppercase;
  text-shadow:1px 1px 8px rgba(0,0,0,0.25);
  transition:font-size 0.25s;
}