header{
  min-width:1440px;
  position:absolute;
  top:30px;
  right:0;
  left:0;
  z-index: 100;
}
header ul{
  justify-content:space-around;
}
header ul li{
  font-size:24px;  
  transition:font-size .40s,
  opacity 0.8s;
}
header li:hover{
  cursor:pointer;
  font-size:28px;  
  opacity: 0.7;
}
#logo:hover{
  width:60px;
  margin-right:-8px;
  margin-top:-8px;
}

#check-out-bag:hover{
  width:45px;
  margin-top:-30px;
  margin-left:-11px;
  transition:width 1.40s;
}
header input:hover{
  background-color:#f7efef;
}
#input-search{
  top:39px;
  background-image:url('/assets/icon-search.svg');
  background-repeat:no-repeat;
  background-position:9px;
  padding-left:40px; 
  width:200px;
  height:45px;
  border:none;
  border-radius:2px;
  box-shadow: 1px 1px 6px rgba(0,0,0, 0.7) ;
}
#input-search:hover{
  cursor:text;
}
#input-search:active{
  cursor:pointer;
}